h1 {
    font-family: Pacifico;
    color: white;
    font-size: 50pt;
    text-align: center;
}

#buttons {
    font-family: Pacifico;
    color: white;
}

#questions {
    color: white;
    font-family: Poiret one;
}