h1 {
    font-family: Pacifico;
    color: white;
    font-size: 50pt;
    text-align: center;
}

#buttons {
    font-family: Pacifico;
    color: white;
}

#first {
    color: white;
    font-family: Poiret one;
}

#second {
    color: white;
    font-family: Poiret one;
}

#third {
    color: white;
    font-family: Poiret one;
}

#fourth {
    color: white;
    font-family: Poiret one;
}